.admin-member-dashboard main, .sidebar {
    padding: 12px;
}
.link-active {
  border: 2px solid white;
}


div.admin-member-dashboard {
  /* grid-template-columns:400px 1fr; */
  display: grid;
}
  
  .admin-member-content {
    flex: 1;
    /* padding: 20px; */
    box-sizing: border-box;
    margin-left: 400px;
  
  }

  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
  }

  .functionButton {
    padding: .5rem 2.5rem;
    font-size: 18px;
    font-family: "Khand";
    color: white;
    background-color: #612118;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid #612118;
    transition: all 0.2s ease-in;
  }

  .functionButton:hover {
    color: black;
    background: none;
  }

  
  .functions-user {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .searchBar {
    margin-bottom: 50px;
  }
  .searchBar input {
    display: block;
  }

  .links {
    margin-bottom: auto;
  }

  .member-details {
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* margin-left: 50px; */
    padding: 20px;
    font-family: "IBM Plex Sans Condensed";
    display: flex;
    flex-direction: column;
    gap: .5rem;

    /* justify-content: center; */
    /* height: 250px; */
  }
  .member-details h3 span {
    font-family: "Khand", sans-serif;
    font-size: 1.3rem;
  }
  
  aside.admin-member-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #612118;
    width: 400px;
    padding: 20px;
    /* display: none; */
  }
  
  .sidebar-link:last-child {
    justify-self: flex-start;
  }
  
  .sidebar-link {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    font-family: 'Khand';
    font-size: 30px;
    text-decoration: none;
    color: white;
  }

  .searchBar input {
    padding: .25rem .8rem;
    width: 30%;
  }
  
  .sidebar-link::after {
    content: '';
    position: absolute;
    display: block;
    
    width: 100%;
    height: 4px; /* Adjust the thickness of the underline */
    background-color: #fff;
  }
  
  

  @media screen and (max-width: 1100px) {
    .admin-member-sidebar {
        width: 300px;
    }
  
    .admin-member-content{
        margin-left: 400px;
    }

    .grid-col-2 {
      grid-template-columns:1fr ;
      
    }
  }
  
  /* Media query for tablets */
  
  
  /* Media query for mobile devices */
  @media screen and (max-width: 700px) {
    div.admin-member-dashboard {
      grid-template-columns: 1fr;
    }
  
  
    aside.admin-member-sidebar {
        position: static;
        width: 100%;
        height: auto;
        padding: 10px;
        flex-direction: column;
    }
  
    .sidebar-link {
        font-size: 20px;
    }
  
    .admin-member-content {
        margin-left: 0;
        padding-top: 20px;
    }
  
    .log-out {
        font-size: 16px;
    }
  
  
  }
  
  