.admin-member-dashboard main, .sidebar {
    padding: 12px;
  }
  
  
  
  div.admin-member-dashboard {
    /* grid-template-columns:400px 1fr; */
    display: grid;
  }
    
    .admin-member-content {
      flex: 1;
      /* padding: 20px; */
      box-sizing: border-box;
      margin-left: 400px;
    }
  
    .admin-member-content h1 {
      font-family: "Khand";
      text-transform: uppercase;
      margin-top: 20px;
    }

    .herald-upload {
      padding: 20px;
    }

    .herald-upload input {
      margin-top: 10px;
    }
  
    @media screen and (max-width: 1100px) {
    
      .admin-member-content{
          margin-left: 400px;
      }
  
    }
    
    /* Media query for tablets */
    
    
    /* Media query for mobile devices */
    @media screen and (max-width: 700px) {
      div.admin-member-dashboard {
        grid-template-columns: 1fr;
      }
    
    
      
    
      .admin-member-content {
          margin-left: 0;
          padding-top: 20px;
      }
    
  
    
    }
    
    