.parish-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
/* 
.parish-image-grid img {
    width: 600px;
} */

.parish-text  {
    font-size: 1.25rem;
    text-align: center;
}

.parish-text h3 {
    padding: 20px;
    background-color: var(--yellow);
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.3rem !important;
}

.parish-text {
    margin:50px 10px;
}