.grid-column-2 {
    display: grid;
    grid-template-columns: 1fr 400px;
    margin: 50px 0;
    gap: 20px;
}

.event-cards {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh; 
}

.event-card {
    height: fit-content; 
    border: 2px solid var(--yellow);
    margin: 10px;
    padding: 10px;
}

.event-card * {
    margin: 5px 0;
}

.event-image {
    height: 100%;
}

.event-image img {
    margin-top: 10px;
}