.hero {
    background-image: url('../assets/hero-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-text {
    margin-top: 3.875rem;
    text-align: center;
}

.hero-text h1{
    font-size: 75px;
    font-family: 'Khand', sans-serif;
    color: white;
    padding: 1rem 0;
}


.call-out a {
    text-decoration: none;
    font-family: 'Khand';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.call-out button {
    border: none;
    background: none;
    color: white;
    padding: .5rem 1rem;
    display: inline-block;
    transition: all 0.3s ease;

}

.call-out button:first-child {
    border: 2px white solid;
    margin-right: .9375rem;

}

.call-out button:last-child {
    background-color: var(--yellow);
}

.call-out button:last-child:hover {
    background: none;
    border: 2px solid white;
    
}

.call-out button:first-child:hover {
    background-color: var(--yellow);
    border: none;

}

.social-icons {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 1.25rem;
}

.social-icons span .icon {
    color: white;
    transform: scale(2);
}

.facebook {
    color: blue;
}


.file-uploads {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px 0;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px 40px;
}

.upload h1 {
    font-size: 20px;
    font-family: "Khand";
}

.upload p {
    margin-top: 10px;
}

.upload img {
    max-width: 100px;
    margin-top: .5rem;
}

.vicars-message {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
}

.marginRight{
    display: flex;
    justify-content: flex-end;
    margin-bottom:40px;
}

.partMessage h2 {
    font-family: "Khand", sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

.partMessage p{
    font-family: 'IBM Plex Sans Condensed';
    color: #535353;
    font-size: 20px;
    margin-top: 10px;
}



@media screen and (max-width:600px) {
    .hero-text h1{

        font-size: 12vw;
    }

    
}

@media screen and (max-width:900px) {

    .marginRight {
        justify-content: center;
    }

    .vicars-message {
        grid-template-columns: 1fr;
    }

    .dean-image {
        justify-self: center;
    }

    .partMessage {
        text-align: center;
    }
    
}