.hero {
    background-image: url('../assets/hero-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-bottom: 200px;
}

.hero-text {
    margin-top: 3.875rem;
    text-align: center;
}

.hero-text h1{
    font-size: 75px;
    font-family: 'Khand', sans-serif;
    color: white;
    padding: 1rem 0;
    animation: fadeIn 2s forwards;
}


  

.call-out a {
    text-decoration: none;
    font-family: 'Khand';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.call-out button {
    border: none;
    background: none;
    color: white;
    padding: .5rem 1rem;
    display: inline-block;
    transition: all 0.3s ease;

}

.call-out button:first-child {
    border: 2px white solid;
    margin-right: .9375rem;

}

.call-out button:last-child {
    background-color: var(--yellow);
}

.call-out button:last-child:hover {
    background: none;
    border: 2px solid white;
    
}

.call-out button:first-child:hover {
    background-color: var(--yellow);
    border: none;

}

.social-icons {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    gap: 2rem;
}

.social-icons span .icon {
    color: white;
    transform: scale(2);
}

.facebook {
    color: blue;
}


.file-uploads {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px 0;
}

.church-uploads {
    margin: 40px auto !important;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    padding: 70px 40px;

    background-image: url('../assets/almanac.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    border-radius: 30px;
    transition: 0.3s all ease-in;
    width: 250px;
    height: 200px;
    position: relative;
}

.card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the transparency for your desired effect */
    border-radius: 10px;

  }

.upload:hover {
}

.herald {
    background-image: url('../assets/herald.png');
}
.upload h1 {
    font-size: 1.7rem;
    font-family: "Khand";
    color: white;
    text-align:center;
}

.upload p {
    margin-top: 10px;
}

.upload img {
    max-width: 80px;
    margin-top: .5rem;
}

.vicars-message {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
}

.vicarsMessage {
    margin: 60px auto !important;
}

.marginRight{
    display: flex;
    justify-content: flex-end;
    margin-bottom:40px;
}

.partMessage h2 {
    font-family: "Khand", sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

.partMessage p{
    font-family: 'IBM Plex Sans Condensed';
    color: #535353;
    font-size: 20px;
    margin-top: 10px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.location {
    margin: 60px auto !important;
}

.gallery {
    margin: 80px 0 !important;
}

.location iframe {
    border: none;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}


.office-bearers-cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 1.875rem 0;
}

.bearer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7ED;
    padding: 20px 25px;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s ease;
}


.bearer-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bearer-text {
    text-align: center;
    font-family: 'IBM Plex Sans Condensed';
    margin-top: 7px;
    color: black;
}

.bearer-number {
    font-size: 1.1rem;
    font-weight: 500;
}

.bearer-card img {
    width: 70%;
}

.bearer-name {
    color: #3E0202;
    font-family: "Khand";
    text-transform: uppercase;
}


.bearer-position {
    font-family: "Khand";
    text-transform: uppercase;
}

@media screen and (max-width:600px) {

    .file-uploads {
        flex-direction: column;
        align-items: center;
    }

    .office-bearers-cards {
        flex-direction: column;
    }

    .bearer-card img {
        width: 60%;
    }

    .hero-text h1{

        font-size: 12vw;
    }

    .hero {
        height: 100%;
    padding-bottom: 90px;

    }

    .heading h1 {
        font-size: 11vw !important;
    }

    .col-2-text p , .partMessage p{
        font-size: 20px !important;
    }

    .container {
        padding: 0 .7rem !important;
    }
    
}

@media screen and (max-width:900px) {

    .bearer-name {
        font-size: 1.687rem;
    }

    .marginRight {
        justify-content: center;
    }

    .marginCenter {
        display: flex;
        justify-content: center;

    }

    .grid-column .col-2-text {
        text-align: center;
    }

    .vicars-message {
        grid-template-columns: 1fr;
    }

    .dean-image {
        justify-self: center;
    }

    .partMessage {
        text-align: center;
    }

    .bearer-card {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }

    .col-2 {
        grid-template-columns: 1fr !important;
    }
    
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
