.sidebar { 
    padding: 12px;
} 

.links {
    margin-bottom: auto;
  }
  aside.admin-member-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #612118;
    width: 400px;
    padding: 20px;
    /* display: none; */
  }
  
  .admin-sidebar-link:last-child {
    justify-self: flex-start;
  }
  
  .links .admin-sidebar-link {
    margin-top: 1.25rem;
    position: relative;
    display: block;
    font-family: 'Khand';
    font-size: 29px;
    text-decoration: none;
    color: white;
  }

  

  .link-active {
    border: 2px solid white;
  }
  
  @media screen and (max-width: 1100px) {
    .admin-member-sidebar {
        width: 300px;
    }
  }
  
  /* Media query for tablets */
  
  
  /* Media query for mobile devices */
  @media screen and (max-width: 700px) {
  
  
    aside.admin-member-sidebar {
        position: static;
        width: 100%;
        height: auto;
        padding: 10px;
        flex-direction: column;
    }
  
    .links .admin-sidebar-link {
        margin-top: 0.5rem;
        font-size: 25px;
    }

  
    .log-out {
        font-size: 16px;
    }
  
  
  }